<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/new">
      <p><label>Title: <input name="title"></label></p>
      <p><label>Description: <textarea name="description"></textarea></label></p>
      <p><button>Submit idea</button></p>
    </form>

  </body>
</html>